/* All page styling */
html {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Poppins', sans-serif;
  background-color: #2a363b;
  color: #f6ca5a;
  margin: 0;
  padding: 0; }

.page-header {
  font-weight: 600;
  text-align: center;
  font-size: 45px;
  color: #faf6cd;
  padding-bottom: 15px;
  background-color: #222b2f;
  padding-top: 10px;
  margin-top: 0px;
  margin-bottom: 0px; }

/* Header Styling */
.header {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0; }

.content-header {
  display: inline-block; }

.secondary-header {
  font-size: 50px;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 10px; }

/* Form Styling */
.form-text-box {
  width: auto; }

.form-text {
  margin-bottom: 10px;
  margin-left: 5px;
  font-weight: 100;
  font-size: 15px;
  display: inline-block; }

input[type="text"], input[type="password"] {
  font-family: 'Poppins', sans-serif;
  background: transparent;
  background: rgba(255, 255, 255, 0.15);
  border: none;
  color: white;
  border-radius: 3px;
  padding: 5px;
  padding-left: 15px;
  font-size: 20px; }

input[type="text"]::placeholder, input[type="password"]::placeholder {
  color: #aaaaaa; }

input[type="text"]:focus, input[type="password"]:focus {
  outline: none; }

.button-1 {
  background-color: #f6ca5a;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 3px;
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px;
  font-weight: 600;
  margin-top: 35px;
  cursor: pointer; }

.button-1:hover {
  background-color: #b99844; }

/* Page: Sign in Specific */
.extra-options {
  text-align: center;
  margin-top: 50px; }

.extra {
  margin-top: 10px; }

.extra > a {
  color: #f6ca5a;
  text-decoration: none;
  font-weight: 500;
  margin: 0;
  margin-bottom: 1px; }

.extra > a:hover {
  border-bottom: 1px solid #f6ca5a;
  margin-bottom: 0px; }

.content-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.sign-in-section {
  margin-left: 25px; }

.client-error {
  display: none;
  border: .5px solid #c54200;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px; }

#error-text {
  color: #c54200;
  margin: 0;
  font-weight: 100;
  font-size: 14px; }

/* Mini Header */
.small-header {
  background-color: #222b2f;
  width: 100%; }

.small-page-header {
  margin-top: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 30px;
  font-size: 18px;
  color: white; }

/* button 2 stylying */
.button-2 {
  background-color: transparent;
  color: #f6ca5a;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  border: 1px solid #f6ca5a;
  border-radius: 3px;
  padding: 5px;
  padding-left: 12px;
  padding-right: 12px;
  font-weight: 600;
  cursor: pointer;
  font-weight: 200; }

/* Search Styling */
.button-2, .search {
  margin-left: 10px; }

.search-sections {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px; }

.search-curr {
  padding-bottom: 3px !important;
  border-bottom: 1px solid #f6ca5a !important; }

.search-tab {
  font-weight: 200;
  padding-bottom: 3px;
  cursor: pointer; }

#song-error, #album-error, #playlist-error, #artists-error {
  display: none;
  text-align: center; }

.search-bar {
  margin-bottom: 10px; }

.song-item {
  border: 1px solid #f6ca5a;
  color: white; }

.song-title {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 0;
  margin-top: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.song-artists {
  font-weight: 400;
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.song-item {
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-bottom: 20px; }

.song-item:hover {
  background-color: #222b2f;
  border: 1px solid #222b2f; }

.song-options {
  padding-right: 15px;
  font-size: 16px; }

.album-content, .artists-content, .song-content, .playlist-content {
  display: none; }

.search-section-cur {
  display: block !important; }

.show-more-button {
  border: 0.5px solid #f6ca5a;
  width: 100%;
  text-align: center;
  pointer: cursor;
  margin-bottom: 25px; }

.show-more-button:hover {
  background-color: #222b2f;
  border: 0.5px solid #222b2f; }

.show-more-text {
  font-size: 15px;
  font-weight: 100; }

/* FULL PAGE */
.content-section.full-page {
  align-items: flex-start !important; }

.secondary-header.full-page {
  margin-bottom: 20px;
  font-size: 60px; }

/*# sourceMappingURL=style.css.map */
