/* All page styling */
html {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Poppins', sans-serif;
  background-color: #2a363b;
  color: #f6ca5a;
  margin: 0;
  padding: 0; }

.page-header {
  font-weight: 600;
  text-align: center;
  font-size: 45px;
  color: #faf6cd;
  padding-bottom: 15px;
  background-color: #222b2f;
  padding-top: 10px;
  margin-top: 0px;
  margin-bottom: 0px; }

/* Header Styling */
.header {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0; }

.content-header {
  display: inline-block; }

.secondary-header {
  font-size: 50px;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 10px; }

/* Form Styling */
.form-text-box {
  width: auto; }

.form-text {
  margin-bottom: 10px;
  margin-left: 5px;
  font-weight: 100;
  font-size: 15px;
  display: inline-block; }

input[type="text"], input[type="password"] {
  font-family: 'Poppins', sans-serif;
  background: transparent;
  background: rgba(255, 255, 255, 0.15);
  border: none;
  color: white;
  border-radius: 3px;
  padding: 5px;
  padding-left: 15px;
  font-size: 20px; }

input[type="text"]::placeholder, input[type="password"]::placeholder {
  color: #aaaaaa; }

input[type="text"]:focus, input[type="password"]:focus {
  outline: none; }

.button-1 {
  background-color: #f6ca5a;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 3px;
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px;
  font-weight: 600;
  margin-top: 35px;
  cursor: pointer; }

.button-2 {
  background-color: transparent;
  color: #f6ca5a;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  border: 1px solid #f6ca5a;
  border-radius: 3px;
  padding: 5px;
  padding-left: 12px;
  padding-right: 12px;
  font-weight: 600;
  cursor: pointer;
  font-weight: 200; }

.button-1:hover {
  background-color: #b99844; }

/* Page: Sign in Specific */
.extra-options {
  text-align: center;
  margin-top: 50px; }

.extra {
  margin-top: 10px; }

.extra > a {
  color: #f6ca5a;
  text-decoration: none;
  font-weight: 500;
  margin: 0;
  margin-bottom: 1px; }

.extra > a:hover {
  border-bottom: 1px solid #f6ca5a;
  margin-bottom: 0px; }

.content-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.sign-in-section {
  margin-left: 25px; }

.client-error {
  display: none;
  border: .5px solid #c54200;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px; }

#error-text {
  color: #c54200;
  margin: 0;
  font-weight: 100;
  font-size: 14px; }

/* Mini Header */
.small-header {
  background-color: #222b2f;
  width: 100%; }

.small-page-header {
  margin-top: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 30px;
  font-size: 18px;
  color: white; }

/* _____ Search Styling ______*/
.button-2, .search {
  margin-left: 10px; }

.search-sections {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px; }

.search-curr {
  padding-bottom: 3px !important;
  border-bottom: 1px solid #f6ca5a !important; }

.search-tab {
  font-weight: 200;
  padding-bottom: 3px;
  cursor: pointer; }

#song-error, #album-error, #playlist-error, #artist-error {
  display: none;
  text-align: center; }

.open-message {
  text-align: center;
  font-weight: 200;
  color: white; }

.search-bar {
  margin-bottom: 10px; }

.album-content, .artist-content, .song-content, .playlist-content {
  display: none; }

.search-section-cur {
  display: block !important; }

.show-more-button {
  border: 0.5px solid #f6ca5a;
  width: 100%;
  text-align: center;
  cursor: pointer;
  margin-bottom: 25px;
  display: inline-block; }

.show-more-button:hover {
  background-color: #222b2f;
  border: 0.5px solid #222b2f; }

.show-more-text {
  font-size: 15px;
  font-weight: 200; }

.song-title, .album-title, .playlist-title {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 0;
  margin-top: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.song-artists, .album-artists, .playlist-owner {
  font-weight: 400;
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

/* SONG SPECIFIC */
.song-item {
  border: 1px solid #f6ca5a;
  color: white;
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-bottom: 20px; }

.album-test:hover {
  background-color: #222b2f;
  border: 1px solid #222b2f; }

.song-item:hover {
  background-color: #222b2f;
  border: 1px solid #222b2f; }

.song-options {
  padding-right: 15px;
  font-size: 16px; }

/* ALBUM & PLAYLIST SPECIFIC */
.album-item, .playlist-item {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  visibility: hidden;
  cursor: pointer; }

.album-title, .album-artists, .playlist-title {
  margin-bottom: 3px; }

.album-text, .playlist-text {
  padding-left: 15px;
  padding-right: 15px; }

.album-year, .playlist-count {
  font-weight: 400;
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 10px;
  font-style: italic; }

.album-content-section, .playlist-content-section {
  border: 1px solid #f6ca5a;
  position: relative; }

.album-options, .playlist-options {
  position: absolute;
  bottom: 5px;
  right: 15px; }

.album-options > i, .playlist-options > i {
  font-size: 20px; }

.album-cover-section, .playlist-cover-section {
  border: 1px solid #f6ca5a;
  background-color: #f6ca5a; }

/* ALBUM SPECIFIC */
.artist-item {
  border: 1px solid #f6ca5a;
  width: calc(50% - 20px);
  min-width: calc(50% - 20px);
  margin-bottom: 30px;
  cursor: pointer;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px; }

.artist-item-center {
  display: flex;
  align-items: center;
  height: 100%; }

.artist-item:hover {
  background-color: #222b2f;
  border: 1px solid #222b2f; }

.artist-item-content {
  display: inline-block;
  text-align: center; }

.artist-item-content {
  width: 100%; }

.artist-title {
  display: inline-block;
  color: white;
  font-size: 20px;
  border-bottom: 1px solid #f6ca5a;
  padding-bottom: 5px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px; }

.artist-image-content {
  margin-top: 20px;
  margin-left: 25px;
  marign-right: 25px;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  width: calc(100% - 50px);
  padding-top: calc(100% - 50px);
  border-radius: 100%; }

.artist-content-rows {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch; }

/* FULL PAGE */
.content-section.full-page {
  align-items: flex-start !important; }

.secondary-header.full-page {
  margin-bottom: 20px;
  font-size: 60px; }

/* SONG POP UP */
.song-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }

.body-cover {
  width: 100vw;
  height: 100%;
  overflow: hidden; }

.song-cover-album-cover {
  text-align: center;
  border: 0.5px solid #f6ca5a;
  width: 200px;
  height: 200px;
  padding: 0;
  margin: 0; }

.song-cover-info {
  margin-bottom: 40px; }

.song-cover-title {
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 0; }

.song-cover-artists {
  font-weight: 400;
  font-size: 16px; }

.song-cover-album {
  font-weight: 300;
  font-style: italic;
  font-size: 16px; }

.song-cover-options > h2 {
  color: white;
  font-weight: 300;
  font-size: 20px;
  padding-bottom: 3px;
  margin: 5px;
  display: inline-block;
  cursor: pointer; }

.song-cover-options > h2:hover {
  border-bottom: 1px solid white;
  padding-bottom: 2px; }

/* HOME PAGE */
.content-party-connect {
  width: 385px; }

.content-no-party {
  display: none; }

.queue-error {
  display: none; }

.section-header {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 15px; }

.party-info-section > p {
  color: white;
  font-weight: 400;
  margin: 0;
  margin-bottom: 10px; }

.vote-sidebar {
  float: right; }

.like-button, .dislike-button {
  border: 1px solid #f6ca5a;
  text-align: center;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px; }

.like-button:hover, .dislike-button:hover {
  background-color: #f6ca5a;
  color: #222b2f;
  cursor: pointer; }

.like-button {
  margin-bottom: 8px; }

.song-queue-item > .song-item {
  float: left; }

.party-info-section, .now-playing-section, .song-queue-section {
  margin-bottom: 25px; }

/*# sourceMappingURL=style.css.map */
